html {
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;

}

#header {
	position: fixed;
	top: 0;
	right: 0;
	height: 5.25em;
	background: #fff; 
	width: 23%;
	z-index: 5; 
	border-bottom: 1px solid #ddd; 
	padding: .5em 1%;
}

h1 {
   font-size: 1.2em;
}

#account {
	
}  

ul.horizontal-list {
	margin: 0;
	padding: 0;
}

ul.horizontal-list li {
	display: inline;
	margin-right: 5%;
} 

#input-screen {
	height: 100%;
} 

#who {
	width: 23%;
	position: fixed;
	right: 0;
	top: 15%;
	height: 80%;
	background-color: #fff;
	z-index: 4;
	padding: .5em 1%;
}

#input-screen {
	width: 75%;
	float: left;
	height: 70%; 
}  

#input-screen form {
	height: 18%; 
	position:absolute;
	bottom: 0;
	width: 74%;
	z-index: 3; 
	
}

textarea {
	width: 100%;
}

.when {
	color: #575757;
	font-size: 14px;
} 

legend {
	display: none;
}

fieldset {
	border: 0;
}

ol#transcript {
	height: 78.5%;
	max-height: 80%;
	position:absolute;
	top:0;
	width: 74%;
	overflow-y: scroll;
	padding-bottom: 6em; 
} 

ol#transcript {
	list-style-type: none;
	padding: 0;
}

ol#transcript li {
	border-bottom: 1px solid #bbb;
	padding: .25em .5em 1.2em .5em;
	clear: both;
}  

ol#transcript li:last-child {
	border-bottom: 0;
}

ol#transcript li li {
	border-bottom: 0;
} 

ol#transcript .when {
	clear: both;
	float: right; 
	padding-bottom: .5em;
}

.message {
	margin-left: 11%;
}

.speaker {
	display: inline-block;
	float: left;
	width: 5%;
	min-width: 5em; 
	margin-right: 2%;
	text-align: right;
	padding-right: .5%;
}

p {
	margin: .4em 0;
}